<!DOCTYPE html>
<html lang="en" ng-app="PopQuizApp">

<head>
    <meta charset="UTF-8">
    <title>POP Quiz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="PopQuizCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page">
        <h1> POP QUIZ </h1>
        <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate>
            <div class="form-group">
                <label for="email">{{ctrl.quiz.question}}</label>
            </div>
            <div class="form-group">
                <label for="answer">Answers : </label>
                <br/>
                <div ng-repeat="answer in ctrl.quiz.answers">
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{answer.value}}" /> {{answer.name}}
                <br/>
                </div>
            </div>
            <div class="form-group">
                <label for="Comments">Comments</label>
                <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
            </div>
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" /> {{ ctrl.finalanswer.message}}
            </div>

        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>